@import '../../scss/variables.scss';

.inode-component {
    > .inode-component-indent {
        border-left: 1px solid $same-color-as-hr;
        margin-left: 1rem;
    }

    > .virtual {
        background-color: mix(#9318ff, $body-bg, 7.5%);
    }

    > .visited {
        background-color: mix($secondary, $body-bg, 7.5%);
    }

    > .virtual.visited {
        background-color: mix(#dcb3ff, $body-bg, 8.3%);
    }
}

.inode-component-dropdown-buttons {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    > .inode-component-dropdown-button {
        --bs-btn-bg: $dropdown-dark-bg;
        --bs-btn-color: $dropdown-dark-link-color;
        --bs-btn-padding-y: 0.5rem;
        border-radius: 0;
        border: none;

        &:hover {
            color: var(--bs-dropdown-link-hover-color);
            background-color: var(--bs-dropdown-link-hover-bg);
        }
    }
}
