@import './scss/variables.scss';

.app {
    display: grid;
    grid-template-rows: 1fr auto auto;
    height: 100%;

    &.app-border-danger {
        border: solid 0.25rem $danger;
    }

    &.app-border-warning {
        border: solid 0.25rem $warning;
    }

    @media only screen and (max-width: 768px) and (max-aspect-ratio: 13/9), screen and (min-width: 768px) and (max-aspect-ratio: 7/9) {
        &.app-keyboard {
            height: 53.5vh;
        }
    }

    > :first-child {
        grid-column: 1;
        grid-row: 1;
        overflow: auto;
    }

    .app-modal-container,
    .loading-indicator {
        grid-column: 1;
        grid-row: 1 / 4;
    }

    .gallery {
        grid-column: 1;
        grid-row: 1;
    }

    .audio-player {
        grid-column: 1;
        grid-row: 2;
    }

    .clipboard-component {
        grid-column: 1;
        grid-row: 3;
    }

    .console-component {
        grid-column: 1;
        grid-row: 4;
    }

    .app-modal-container {
        &:empty {
            display: none;
        }

        > * {
            height: 100%;

            > :first-child {
                height: 100%;

                > .modal {
                    position: absolute;
                }

                > .modal-backdrop {
                    background-color: $backdrop-bg;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

    .app-toast {
        background: $toast-bg;
        color: $body-color;
    }
}
