@import './variables.scss';

.thumbnail {
    display: inline-block;
    height: $thumbnail-dimension;
    width: $thumbnail-dimension;
    position: relative;
    background-color: #222;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: $thumbnail-dimension;
        max-width: $thumbnail-dimension;
    }
}

.disabled {
    pointer-events: none;
    color: inherit !important;
}

.link-tag {
    color: #9c9c9c;

    &:hover {
        color: #888;
    }
}

a.reboot {
    color: inherit;
}

input:default.reboot,
input[type='text'].reboot {
    background-color: $input-bg;
    border: none;
    color: inherit;
    outline: none;
    padding: 0;
    max-width: 100%;

    &:focus {
        outline: 1px solid $outline-focus-color;
    }
}

textarea.reboot {
    background-color: $input-bg;
    border: none;
    color: inherit;
    outline: none;
    padding: 0;
    resize: none;
    width: 100%;

    &:focus {
        outline: 1px solid $outline-focus-color;
    }
}

.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: $mobile-breakpoint) {
    .hoverable:hover {
        cursor: pointer;
    }
    .action-view .hoverable:hover {
        background-color: rgba($primary, 0.25);
    }
    .action-edit .hoverable:hover {
        background-color: rgba($warning, 0.11);
    }
    .action-reload .hoverable:hover {
        background-color: rgba($secondary, 0.2);
    }
    .action-add .hoverable:hover {
        background-color: rgba($success, 0.23);
    }
    .action-delete .hoverable:hover {
        background-color: rgba($danger, 0.15);
    }
}
