@import './variables.scss';

.disabled {
    pointer-events: none;
}

a.disabled {
    color: inherit !important;
}

.link-tag {
    color: $link-tag-color;
    cursor: pointer;
    text-decoration: underline;

    &:focus,
    &:hover {
        color: shift-color($link-tag-color, $link-shade-percentage);
    }
}

.link-tag-match {
    color: $link-tag-match-color;
    cursor: pointer;
    text-decoration: underline;

    &:focus,
    &:hover {
        color: shift-color($link-tag-match-color, $link-shade-percentage);
    }
}

a.reboot {
    color: inherit;
}

input:default.reboot,
input[type='text'].reboot {
    background-color: $input-bg;
    border: none;
    color: inherit;
    outline: none;
    padding: 0;
    max-width: 100%;

    &:focus {
        outline: 1px solid $outline-focus-color;
    }
}

textarea.reboot {
    background-color: $input-bg;
    border: none;
    color: inherit;
    outline: none;
    padding: 0;
    resize: none;
    width: 100%;

    &:focus {
        outline: 1px solid $outline-focus-color;
    }
}

.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}
